<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	  android:installLocation="auto" 
      package="ac.gestureCall" android:versionName="2.0.8" android:versionCode="17">
    <uses-sdk android:minSdkVersion="5" />
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    
     
    <!-- Ya no son necesarios estos permisos,permisos de publicidad -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
<!--   -->    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    
    <application android:icon="@drawable/icon" android:label="@string/app_name" 
    	android:theme="@android:style/Theme.Light.NoTitleBar">
    
        <activity android:name=".ui.main"
                  android:label="@string/app_name"
                  android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".ui.contactos.ListContact"></activity>
        <activity android:name=".ui.creadorGestos.CreadorGestos"></activity>
        <activity android:name=".ui.gestos.GestureBuilderActivity"></activity>
        <activity android:name=".ui.donate.Donate"></activity>
		<activity android:name=".ui.donate.DonateAmazon"></activity>
		<activity android:name=".preferences.Preferences"></activity>
		<receiver android:enabled="true" android:name=".util.bootReceiver.BootUpReceiver"
        			android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

	        <intent-filter>
	                <action android:name="android.intent.action.BOOT_COMPLETED" />
	                <category android:name="android.intent.category.DEFAULT" />
	        </intent-filter>
		</receiver>		

	<!-- Ads google -->
	<activity android:name="com.google.ads.AdActivity"
               android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
	<meta-data android:value="a14daeadcc3acb6" android:name="ADMOB_PUBLISHER_ID" />
	
	<!-- Mobclix --> 
	<meta-data android:name="com.mobclix.APPLICATION_ID" android:value="86E265D9-F336-4C3F-B5BE-E545F674437F"/>
	<activity android:name="com.mobclix.android.sdk.MobclixBrowserActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
	
	
	
	 
	
	
	
	
    </application>
</manifest>